body {
  font-family:  'Roboto',sans-serif;
}

body{
  
  background-color:black;
  color: #8307a8;
}

div {
  display: flex;
  justify-content: center;
}

 table {
  margin: 0,auto;
  margin-top: 200px;
  background-color: rgb(202, 221, 204);
  border: 1px solid black;
}

td, th {
    width: 200px;
    text-align: center;
    border: 1px solid black;
}
